form{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

h3{
  padding-top: 12px;
  padding-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
}

.panel{
  margin-left: auto;
  margin-right: auto;
  color:#DB7093;
}

img {
    float:left;
    height:auto;
    width: auto;
}
