/*links*/
a:link{
  color: #7FFF00;
}
a:visited{
  color: #7FFF00;
}
a:hover{
  color: #5F9EA0;
}

a.btn-lg{
  color: #663399;
}

#objects{
  height: 605;
  width: 60%;
}

#query{
  height: 50%;
  width: 50%;
}

#exGet{
  height: 50%;
  width: 50%;
}

#exurl{
  height: 50%;
  width: 50%;
}

#lighter{
  background-color: #ccb3e6;
  color: #663399;
}

#tooBright{
  color: #FF7F50;
}

.note{
  color: #007d80;
  font-size: 90%;
}

.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active{
  color: #663399;
  background: rgba(0,0,0,0) !important;
  border: none !important;
  box-shadow: none !important;
  text-shadow: none;
}

#a{
  color: #ff0066 !important;
}

#b{
  color: #3399ff !important;
}

#c{
  color: #339933 !important;
}

#d{
  color: #ff6600 !important;
}

.list{
  color: #007d80;
}
