#note{
  font-size: 90%;
  font-weight: bold;
  padding-left: 0%;
  padding-right: 50%;
  color: salmon;
}

#brain{
  display: block;
  float: right;
  height: 30%;
  width: 30%;
  padding-right: 10%;
}
.rest{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
  padding-right: 19%;

}
.list{
  padding-left: 2%;
  list-style-type: square;
}
