
#brain{
  display: block;
  float: right;
  height: 30%;
  width: 30%;
  padding-right: 10%;
}

#apiInfo{
  margin-right: 12%;
}

#lightest{
  background-color: #e6d9f2;
  color: #663399;
}

.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active{
  color: #663399!important;
  background: rgba(0,0,0,0) !important;
  border: none !important;
  box-shadow: none !important;
}

.list{
  color: #4682B4;
}
